* {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(60, 60, 60, 1);
  padding: 15px;
}

body {
  font-family: 'Lato', sans-serif;
  color: rgb(44, 44, 44);
}

h2 {
  margin: 30px 0 10px;
  text-align: center;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

header h1{
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

p {
  text-align: justify;
}

.container-about {
  display: inline-block;
}

.container-about img {
  margin-top: 72px;
  width: 320px;
  float: left;
}

.container-about p {
  margin-left: 350px;
  text-align: justify;
  color: rgb(78, 78, 78);
}

.container-about li{
  margin-left: 370px;
}

#second {
  margin-top: 22px;
}

.container-contacts {
  height: 140px;
}

.container-contacts img{
  margin: 10px 5.5%;
  opacity: 0.75;
  width: 50px;
}

.container-contacts img:hover {
  margin: 0px 5.5% 0 5.5%;
  width: 70px;
  transition: 0.5s ease;
  opacity: 1;
}

